<center>
  <div class="center-block center container" style="width:100%">
    <section id="main-content" style="vertical-align:top;margin-left:0 !important;">

      <!-- login form -->
      <div>
        <div style="margin-top:10px;" class="">
          <ng-form role="form" class="form-horizontal" novalidate name="logForm" id="logForm">
            <div class="alert alert-danger col-sm-12 invisible" id="authErr" style="min-width:300px">
              <!--ng-class="{'b-ng-visible' : authError == ''}" -->
              {{authError}}&nbsp;
            </div>
            <div class="row">
              <div class="logo-container">
                <div><img src="./images/logoOrig.png" /></div>
                <div><img src="./images/RPO-logo.png" /></div>
                <div><img src="./images/RSign2.png" /></div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <div class="col-sm-12">
                  <h4>Create Your RMail Account</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="well col-sm-12" style="margin-bottom:15px;padding-left:10px;padding-right:10px;">
                <!-- class="panel panel-default" -->
                <div>
                  <!-- class="panel-body"> -->
                  <div class="form-group required" style="margin-top:15px;padding-left:10px;padding-right:10px;">

                    <label for="firstName" class="control-label col-sm-4">First Name </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter your first name" ng-model="reg.user.firstName"
                      required autofocus autocomplete="off">
                    </div>
                  </div>

                  <div class="form-group required" style="padding-left:10px;padding-right:10px;">

                    <label for="lastName" class="control-label col-sm-4">Last Name </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter your last name" ng-model="reg.user.lastName"
                      required>
                    </div>

                  </div>

                  <div class="form-group required" style="padding-left:10px;padding-right:10px;">

                    <label for="email" class="control-label col-sm-4" style="white-space: nowrap;">Primary Email Address </label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your current email address" ng-model="reg.user.email"
                      required>
                    </div>

                  </div>

                  <div class="form-group" style="padding-left:10px;padding-right:10px;">

                    <label for="username" class="control-label col-sm-5" style="white-space: nowrap;">Create RMail Inbox Account </label>
                    <div class="col-sm-7 input-group">

                      <input type="text" class="form-control" style="width:192px;margin-left:40px;" id="username" name="username" placeholder="Choose your username"
                      ng-model="reg.user.username" aria-describedby="basic-addon2">
                      <span class="input-group-addon" id="basic-addon2">@rmail.com</span> &nbsp;
                      <a href="#" data-toggle="tooltip" title="Some tooltip text!">What's this?</a>

                    </div>

                  </div>
                  <div class="form-group required" style="padding-left:10px;padding-right:10px;">

                    <label for="password" class="control-label col-sm-4">Password </label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="password" placeholder="Enter your password" ng-model="reg.user.password"
                      required>
                    </div>

                  </div>
                  <div class="form-group required" style="padding-left:10px;padding-right:10px;">

                    <label for="confirmPassword" class="control-label col-sm-4">Confirm Password </label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password" ng-model="reg.user.confirmPassword"
                      required compare-to="reg.user.password">
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4">&nbsp;</div>
              <div class="col-sm-8" style="text-align:left;">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="termsAndConditions" ng-model="termsAndConditions" ng-true-value="'true'" ng-false-value="'false'"
                    required> I agree to the terms and conditions</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div style="margin:0 auto;">
                <div vc-recaptcha theme="'light'" key="reg.captcha.key" on-create="reg.setWidgetId(reg.widgetId)" on-success="reg.setResponse(reg.response)"
                on-expire="reg.cbExpiration()"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <!--<input type="submit" class="btn-custom" id="btnSubmit" title="Click to submit" ng-disabled='form.$invalid' name="Next" />-->
                <button class="btn btn-primary" id="btnSubmit" title="Click to submit" ng-disabled="logForm.$invalid" ng-click="reg.login()">Submit</button>

              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <a ui-sref="login.signin">Sign-in</a>
              </div>
            </div>

          </ng-form>
        </div>
      </div>
    </section>
  </div>
</center>